@import '@/scss/mixin';
@import '@/scss/variabel';

.create_new_post_container {
  height: 100%;
  
  .create_new_post_form {
    flex-grow: 0.5;
    max-width: 60rem;

    .create_new_buttons_container {
      display: flex;
      gap: 0.5rem;
      width: 100%;
    }
  }
}