@use '@/scss/reusable' as *;

.post_wrapper_container {
  background-color: white;
  padding: 0rem;
  height: fit-content;
  flex-shrink: 1;

  .post_is_hidden {
    background: $color-common;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;  
    padding: 0.5rem;
    color: white;

    svg {
      width: $icon-small;
      height: $icon-small;
    }
  }
}