@use '@/scss/reusable' as *;

.pagination_loader_container {
  width: 100%;
  height: fit-content;

  .pagination_loader_button {
    @include loader();
    width: 2rem;
    height: 2rem;
  }
}

@include loader-animation();