@use '@/scss/reusable' as *;

.pagination_list_button {
  outline: $border-container-soft;
  width: fit-content;
  height: 100%;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $color-common;
    color: white;
  }

  svg {
    height: $icon-x-large;
    width: $icon-x-large;
  }
}

.pagination_curr_page {
  background-color: $color-common;
  color: white;

  &:hover {
    background-color: $color-common;
    color: white;
  }
}