@use '@/scss/reusable' as *;
@forward './media-query/userContainerLoader.media-query.scss';

.loader_element_animation { @include loader(); }

.loader_container {
  display: flex;
  gap: 0.5rem;

  .loader_button { height: 2rem; width: 5rem; }

  .loader_avatar {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }
}

@include loader-animation();