@import '@/scss/mixin';
@import '@/scss/variabel';
@import './media-query/statisticPreview.media-query.scss';

.preview_container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0%;
  padding: 0rem 1rem;
  z-index: 1;
  
  .preview_body {
    background-color: white;
    width: 16.5rem;
  }
  
  .preview_header {
    border-bottom: $border-container-soft;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  
    svg {
      width: $icon-medium;
      height: $icon-medium;
      cursor: pointer;
  
      &:hover { color: red; }
    }
  }

  a {
    border-radius: $border-radius-container;
    padding: 0.5rem;
    cursor: pointer;

    img {
      width: $icon-xx-large;
      height: $icon-xx-large;
      border-radius: 50%;
    }

    &:hover { background-color: $color-common-hover-soft; }
  }
  
  .preview_item_count {
    background-color: $color-common-soft;
    color: $color-common;
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
  }
}
