@import '@/scss/mixin';
@import '@/scss/variabel';
@import './media-query/statisticPreview.media-query.scss';

.preview_container {
  width: 15rem;
  flex-shrink: 0;
  
  .preview_body { 
    position: fixed;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    background-color: white; 
    width: 15rem;
    height: fit-content;
    right: 1.5rem;
  }
  
  .preview_header {
    border-bottom: $border-container-soft;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  
    svg {
      width: $icon-medium;
      height: $icon-medium;
      
      &:last-child:hover { color: $color-error; cursor: pointer; }
    }
  }

  .preview_item {
    border-radius: $border-radius-container;
    padding: 0.5rem;
    cursor: pointer;

    img {
      width: $icon-xx-large;
      height: $icon-xx-large;
      border-radius: 50%;
    }

    &:hover { background-color: $color-common-hover-soft; }

    .preview_item_count {
      background-color: $color-common-hover-soft;
      color: $color-common-hover;
      padding: 0.5rem;
      font-size: 0.9rem;
      border-radius: 50%;
    }
  }  
}
