@import '@/scss/mixin';
@import '@/scss/variabel';
@import './media-query/databaseItem.media-query.scss';

.database_item_header {
  border-bottom: 1px solid $color-black-soft;
  background-color: white;
  top: 3%;
  width: 100%;
  position: fixed;
  padding: 3rem 0rem 1rem 0rem;
  margin-bottom: 0.5rem;
  z-index: 10;

  .database_item_back_button {
    background-color: $color-common;
    border-radius: $border-radiues-button;
    transition: all $transition-time-fast;
    border: 1px solid transparent;
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
    color: white;
    cursor: pointer;

    &:hover {
      color: $color-common-hover;
      transition: all $transition-time-fast;
      border: 1px solid $color-common-hover;
      background-color: white;
    }
  }

  .database_item_header_title {
    font-size: clamp($font-medium, 2.5vw, $font-x-large);
    font-weight: bold;
  }
}

.database_thumbnail_container {
  border-bottom: 1px solid $color-black-soft;
  padding-bottom: 0.5rem;
  padding-top: 5rem;
  margin-bottom: 0.5rem;

  .database_loader_thumbnail {
    width: 15rem;
    height: 15rem;
    border-radius: 0rem;
  }
  
  .database_thumbnail {
    width: 15rem;
  }
}