@use '@/scss/reusable' as *;

.xbutton_style {
  box-shadow: $box-shadow-button;
  border-radius: $border-radiues-button;
  transition: all $transition-time-very-fast ease;
  border: 1px solid $color-error;
  background-color: $color-error;
  color: white;
  padding: 0.3rem;
  cursor: pointer;
  
  &:hover {
    box-shadow: $box-shadow-button-hover;
    transition: all $transition-time-very-fast ease;
    background-color: white;
    
    svg { color: $color-error; }
  }
}