@import '@/scss/mixin';
@import '@/scss/variabel';

.xbutton_style {
  color: $color-error;
  box-shadow: $box-shadow-button;
  border-radius: $border-radiues-button;
  transition: all $transition-time-very-fast;
  border: 1px solid $color-error;
  background-color: white;
  padding: 0.3rem;
  cursor: pointer;

  &:hover {
    background-color: $color-error;
    box-shadow: $box-shadow-button-hover;
    transition: all $transition-time-very-fast;
    
    svg { color: white !important; }
  }
}