@use '@/scss/reusable' as Reusable;

.form_wrapper_title_container {
  font-size: Reusable.$font-x-large;
  color: Reusable.$color-common;
  border-radius: Reusable.$border-radius-container;
  border: Reusable.$border-container-soft;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;

  svg {
    width: Reusable.$icon-xx-large;
    height: Reusable.$icon-xx-large;
  }
}