@import '@/scss/mixin';
@import '@/scss/variabel';

.form_wrapper_title_container {
  font-size: $font-x-large;
  color: $color-common;
  // background-color: $color-common-soft;
  border-radius: $border-radius-container;
  border: $border-container-soft;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;

  svg {
    width: $icon-xx-large;
    height: $icon-xx-large;
  }
}