@use '@/scss/reusable' as *;

.button {
  @include button-slide-right-animation();
  border-radius: $border-radiues-button;
  box-shadow: $box-shadow-button;
  transition: all $transition-time-fast ease;
    
  &:hover {
    box-shadow: $box-shadow-button-hover;
    transition: all $transition-time-fast ease;
  }

  svg { width: $icon-large; height: $icon-large; }
}