@import '@/scss/mixin';
@import '@/scss/variabel';

.button {
  @include flex-alignitems-justifycontent(center, center);
  @include button-slide-right-animation();
  border-radius: $border-radiues-button;
  box-shadow: $box-shadow-button;
  transition: all $transition-time-fast;
    
  &:hover {
    box-shadow: $box-shadow-button-hover;
    transition: all $transition-time-very-fast;
  }

  svg {
    width: $icon-large;
    height: $icon-large;
  }
}