@use '@/scss/reusable' as *;

.scroll_to_container {
  @include absolute-left-top-zindex-width-height(0%, 0%);
  position: fixed;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem 1.5rem;

  svg { width: 2rem; height: 2rem; color: white; padding: 0.35rem; }
  
  .scroll_to_body {
    background-color: $color-common;
    border-radius: $border-radiues-button;
    transition: all $transition-time-very-fast;
    box-shadow: $box-shadow-button;
    opacity: 0.4;
    position: fixed;
    border: 1px solid transparent;
    width: fit-content;
    height: fit-content;
    pointer-events: all;
    cursor: pointer;

    &:hover {
      box-shadow: $box-shadow-button-hover;
      transition: all $transition-time-very-fast;
      border: 1px solid $color-common-hover;
      opacity: 1;
      background-color: white;

      svg { color: $color-common-hover; }
    }
  }
}