@import '@/scss/mixin';
@import '@/scss/variabel';

.loader_container {
  border-bottom: $border-container-soft;
  padding-bottom: 0.5rem;
}

.loader_header {
  border-bottom: $border-container-soft;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}


.loader_animation {
  @include loader();
}

@include loader-animation();