@import '@/scss/mixin';
@import '@/scss/variabel';

.setting_font_example {
  flex-wrap: nowrap;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  text-overflow: ellipsis;
  overflow: hidden;
}

.setting_set_font_button {
  transition: all $transition-time-fast;
  border: 1px solid $color-common;
  border-radius: $border-radiues-button;
  color: $color-common;
  height: fit-content;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: fit-content;
  padding: 0.5rem;

  &:hover {
    transition: all $transition-time-fast;
    background-color: $color-common-hover;
    border: 1px solid $color-common-hover;
    color: white;
  }
}

.setting_selected_font {
  background-color: $color-common-hover;
  border: 1px solid $color-common-hover;
  color: white;
}