@use '@/scss/reusable' as *;

.setting_font_item {
  transition: all $transition-time-fast;
  border: 1px solid $color-common;
  border-radius: $border-radiues-button;
  color: $color-common;
  overflow: hidden;
  height: fit-content;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: fit-content;
  cursor: pointer;
  
  &:hover {
    border: 1px solid $color-common-hover;

    .setting_set_font_button {
      background-color: $color-common-hover;
      transition: all $transition-time-fast;
      border-bottom: 1px solid $color-common-hover;
      color: white;
    }
  }

  .setting_font_example {
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    color: black;
  }
  
  .setting_set_font_button {
    color: white;
    background-color: $color-common;
    border-bottom: 1px solid $color-common;
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.5rem;
  }  
}

.setting_selected_font {
  border: 1px solid $color-common-hover;

  .setting_set_font_button {
    background-color: $color-common-hover;
    transition: all $transition-time-fast;
    border-bottom: 1px solid $color-common-hover;
    color: white;
  }
}

