@import '@/scss/mixin';
@import '@/scss/variabel';

.admin_action_button {
  @include button-slide-right-animation(2rem, 2rem);
  border-radius: $border-radiues-button;
  background-color: $color-common-hover;
  border: 1px solid $color-common-hover;
  box-shadow: $box-shadow-button;

  section { 
    position: absolute; 
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  svg { width: 1rem; }
}
