@import '@/scss/mixin';
@import '@/scss/variabel';

.data_modal_wrapper_container {
  width: 25rem;
  position: relative;
}

.data_modal_wrapper_data_body {
  border-bottom: $border-container-soft;
  padding: 0rem 1rem 0.5rem 1rem;
}

.data_modal_wrapper_loader_animation {
  @include loader();
  height: 1.25rem;
}


@include loader-animation();