@use '@/scss/reusable' as *;
@forward './media-query/textArea.media-query.scss';

.text_area_asset_modal_container {
  @include absolute-left-top-zindex-width-height(50%, 50%, 100);
  background-color: $color-black-medium-soft;
  transition: all $transition-time-very-fast;
  position: fixed;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  
  .text_area_asset_modal_body {
    padding: 1rem;
    background-color: white;
    width: 55rem;

    .text_area_asset_modal_header {
      border-bottom: 1px solid $color-black-soft;
      color: rgb(145, 145, 145); 
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .text_area_image_button {
    padding: 0.5rem 1rem;
  }
}

.text_area_asset_modal_container_hidden {
  transition: all $transition-time-very-fast;
  opacity: 0;
  visibility: hidden;
}

.text_area_container {
  display: flex;
  width: 100%;
  min-height: calc((41.6px * 6) + (8px * 3));

  .text_area {
    border-radius: $border-radius-container;
    border: $border-container-soft;
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    padding: 1rem;
    overflow: hidden;
    resize: none;
  
    &:focus, &:hover {
      transition: all $transition-time-fast;
      border: 1px solid $color-common;
    }
  }
}

.text_area_action_buttons_container {
  padding-left: 49px;
  position: relative;
  
  .text_area_action_buttons_fixed_wrapper_body {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0%;
    left: 0%;
    
    .text_area_action_buttons_fixed_body {
      position: fixed;

      .text_area_text_action {  
        background-color: $color-common;
        border-radius: $border-radiues-button;
        transition: all $transition-time-fast;
        border: 1px solid $color-common;
        position: relative;
        color: white;
        padding: 0.5rem 1rem;

        &:disabled {
          background-color: $color-common-soft;
          color: $color-common;
          cursor: auto;

          &:hover {
            background-color: $color-common-soft;
            border: 1px solid $color-common;
            color: $color-common;
          }
        }

        svg {
          pointer-events: none;
          width: 0.9rem;
        }

        &:hover {
          transition: all $transition-time-fast;
          border: 1px solid $color-common-hover;
          color: $color-common-hover;
          background-color: white;
        }
      }
    }    
  }
}