@import '@/scss/mixin';
@import '@/scss/variabel';

.post_content_container {
	overflow: hidden;
	
  a { font-weight: bold; width: fit-content; }

	.post_title { font-size: $font-xx-large; font-weight: bolder; }

	.post_content_date {
		font-size: $font-small;
		color: $color-black-medium-soft;
		margin-bottom: 0.5rem;
	}
}

.post_tags_statistic_container {
	@media(width <= 650px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.post_data { padding: 0.5rem 0rem; }

.post_hidden { border: 1px solid $color-common; }

.post_statistic_data {
	color: $color-black-medium-soft;
	transition: all $transition-time-fast;
	font-size: 0.9rem;
	cursor: pointer;

	&:hover {
		color: $color-common;
		transition: all $transition-time-fast;
	}

	svg {
		width: $icon-small;
		height: $icon-small;
	}
}

.post_liked {
	color: $color-common;
	
	svg { animation: like 1s forwards; }
}

@keyframes like {
	0% {
		transform: scale(1);
	}
	
	50% {
		transition: all $transition-time-fast;
		fill: $color-common;
		transform: scale(1.5);
	}

	100% {
		fill: $color-common;
		transform: scale(1);
	}
}