@import '@/scss/mixin';
@import '@/scss/variabel';

.text_input_container {
  width: 100%;
  position: relative;

  .text_input_error_icon {
    @include absolute-left-top-zindex-width-height(97.5%, 50%, 2);
    color: $color-error;
    transition: all $transition-time-very-fast;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    cursor: pointer;

    &:hover + .text_input_error_text_container {
      opacity: 1;
      visibility: visible;
    }
  }

  .text_input_icon_hidden {
    transition: all $transition-time-very-fast;
    opacity: 0;
    visibility: hidden;
  }

  .text_input_error_text_container {
    @include flex-alignitems-justifycontent(center, flex-end);
    transition: all $transition-time-very-fast;
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0%;
    top: 50%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    font-size: 0.7rem;
    width: fit-content;
    height: 100%;
    text-wrap: nowrap;
    
    span {
      background-color: $color-error;
      border-radius: $border-radiues-button;
      padding: 0.45rem 0.5rem;
      color: white;
      width: fit-content;
      height: fit-content;
    }
  }

  .text_input {
    border-radius: $border-radius-container;
    border: $border-container-soft;
    transition: all $transition-time-fast;
    width: 100%;
    padding: 0.75rem 2rem 0.75rem 1rem;
  
    &:focus, &:hover {
      transition: all $transition-time-fast;
      border: 1px solid $color-common;
    }
  }

  .text_input_invalid {
    border: 1px solid $color-error;

    &:hover, &:focus {
      border: 1px solid $color-error;
    }
  }
}
