@use '@/scss/reusable' as *;

// .checkbox_default_input { display: none; }

.checkbox_body { 
  cursor: pointer;

  .checkbox_label { font-size: $font-small; }

  &:hover .checkbox_custom_checkbox_wrapper {
    box-shadow: $box-shadow-button;
    border: 1px solid $color-common;
    transition: all $transition-time-very-fast ease;

    svg { color: $color-common; }
  }
  
  .checkbox_custom_checkbox_wrapper {
    transition: all $transition-time-very-fast ease;
    border: 1px solid $color-black-soft;
    position: relative;
    border-radius: 4px;
    width: 1.2rem;
    height: 1.2rem;
  
    svg {
      @include absolute-left-top-zindex-width-height(50%, 50%);
      width: $icon-small;
      height: $icon-small;
      transition: all $transition-time-very-fast ease;
      transform: translate(-50%, -50%);
      color: rgb(192, 192, 192);
    }
  
    .checkbox_custom_checkbox_body {
      @include absolute-left-top-zindex-width-height(50%, 50%);
      transition: all $transition-time-very-fast ease;
      background-color: $color-common;
      transform: translate(-50%, -50%);
      border-radius: 3px;
      width: 0rem;
      height: 0rem;
    }
  }
}

.checkbox_default_input:checked ~ .checkbox_custom_checkbox_wrapper {
  background-color: $color-common;
  transition: all $transition-time-very-fast ease;
  
  .checkbox_custom_checkbox_body { 
    width: 1.2rem; 
    height: 1.2rem; 
  }  
  
  svg { color: white !important; }
}

.checkbox_body_error { 
  border: 1px solid $color-error; 

  svg { color: $color-error; }
}

.checkbox_error {
  color: $color-error;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.9rem;

  svg {
    width: $icon-medium;
    height: $icon-medium;
  }
}