.edit_user_body {
  > * {
    border: none;
    border-radius: none;
    box-shadow: none;
    padding: 0rem;
  }

  .edit_user_buttons > button {
    padding: 0.3rem 1rem;

    &:first-child {
      background-color: #500 !important;
      color: white;
      
      &:hover { color: #500; border: 1px solid #500; }
    }
  }
}