@import '@/scss/mixin';
@import '@/scss/variabel';

.edit_user_body {
  > * {
    border: none;
    border-radius: none;
    box-shadow: none;
    padding: 0rem;
  }

  .edit_user_log_out {
    border: 1px solid #500 !important;
    background-color: #500;
    color: white;

    &:hover > section { color: #500; }
  }
}