@use '@/scss/reusable' as *;
@forward './scss/media-query/header.media-query.scss';

.header_container {
  border-bottom: $border-container-soft;
  position: fixed;
  z-index: 99;
  background-color: white;
  padding: 0.5rem 1rem;

  .header_website_name_container {
    width: 100%;

    .header_website_name {
      color: $color-common;
      font-size: $font-xx-large;
      transition: all $transition-time-fast ease;
      text-shadow: 1px 1px 2px black;
      font-weight: bolder;
 
      &:hover {
        color: $color-common-hover;
        transition: all $transition-time-fast ease;
        text-shadow: 1px 1px black;
      }
    }
    
    .header_side_menu_button {
      color: $color-common;
      transition: all $transition-time-very-fast ease;
      display: none;

      &:hover {
        color: $color-common-hover;
        transition: all $transition-time-very-fast ease;
      }
    }
  }

  .header_user_action_container {
    .header_user_action_button {
      border-radius: $border-radiues-button;
      box-shadow: $box-shadow-button;
      transition: all $transition-time-fast ease;
      padding: 0.5rem 1rem;
      
      &:hover {
        box-shadow: $box-shadow-button-hover;
        transition: all $transition-time-fast ease;
      }

      svg { width: $icon-large; height: $icon-large; }

      //Registration button
      &:first-child { @include button-slide-right-animation(); }

      //Log in button
      &:last-child {
        color: $color-common-hover;
        border: 1px solid transparent;
        background-color: rgba(0, 0, 0, 0.05);

        &:hover {
          color: $color-common-hover;
          border: 1px solid $color-common-hover;
          background-color: transparent;
        }
      }
    }
  }

  .header_user_link {
    width: $icon-xx-large;
    height: $icon-xx-large;
    object-fit: cover;
    border-radius: 50%;
  }
}