@media(width <= 500px) {
  .img { width: 100% !important; }
}

@media(width <= 560px) {
  .quote_body {
    width: 100% !important;
    padding: 2rem !important;
  }

  .quote_start {
    left: 3% !important; 
    top: 8% !important; 
  }

  .quote_end {
    left: 97% !important; 
    top: 92% !important;  
  }
}

