@import '@/scss/mixin';
@import '@/scss/variabel';
@import './scss/media-query/sideMenu.media-query.scss';

.aside_menu_extra_width { box-shadow: $box-shadow-container; width: 15rem !important; }

.aside_menu_container_hidden { left: -100% !important; }

.aside_menu_container { padding-left: 12rem; }

.aside_menu_body {
  border-right: $border-container-soft;
  transition: all $transition-time-medium;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 11rem;
  padding: 4.5rem 0rem;
  left: 0%;
  z-index: 2;
  
  .aside_menu_default_link { gap: 1rem; }
  
  .aside_menu_title { color: $color-black-medium-soft; padding: 0rem 2rem 0.25rem 2rem; }   
  
  .aside_menu_text_wrapper { @include text-overflow-ellipsis(); }

  .aside_menu_user_avatar {
    border-radius: 50%;
    width: 1.9rem;
    height: 1.9rem;
  }
  
  a, button {
    transition: all $transition-time-very-fast;
    text-align: left;
    padding: 0.45rem 2rem;
    font-size: 0.9rem;
          
    &:hover {
      background-color: $color-common-soft;
      transition: all $transition-time-very-fast;
      color: $color-common;
    }

    .aside_menu_icon { width: 1rem; height: 1rem; }
  }

  .aside_link_active {
    background-color: $color-common-soft;
    color: $color-common;
    position: relative;

    &::after {
      @include absolute-left-top-zindex-width-height();
      content: '';
      height: 100%;
      width: 0.25rem;
      background-color: $color-common;
    }
  }
}