@import '@/scss/mixin';
@import '@/scss/variabel';

.empty_container {
  color: $color-black-medium-soft;
  height: 100%;
  width: 100%;
  padding: 0.5rem;

  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}