@import '@/scss/mixin';
@import '@/scss/variabel';

.line { 
  flex-grow: 1;
  flex-wrap: wrap; 
  row-gap: 0rem; 
  line-height: 1.2rem; 
  font-size: clamp(0.7rem, 2.5vw, 1rem);
  word-break: break-word;
  clear: both;
  display: inline-block;
}

.line_end { flex-grow: 1; }

.intendention { padding: 0.5rem; flex-grow: 1; }

.header { font-weight: bolder; flex-grow: 1; }

.header_2 { font-size: $font-x-large; }

.header_1 { font-size: $font-xx-large; }

.bold { font-weight: bold; }

.img_with_context {
    flex-grow: 1;

  > p {
    width: fit-content;
    height: fit-content;
    color: rgb(133, 133, 133);
    line-height: 1rem;
  }

  > a, img {
    border-radius: 0px !important;
    height: 18rem;
    width: fit-content;
    object-fit: cover;
  }
}

.img {
  display: block;
  border-radius: 0px !important;
  height: 12rem;
  width: fit-content;
  object-fit: cover;
}

.video_container {
  width: 100%;

  video {
    width: auto;
    height: 15em;
  }
}

.list {
  color: $color-common;
  width: 100%;
  list-style: disc;
  margin-left: 0.9rem;
  position: relative;
  align-items: center;
  font-size: clamp(0.7rem, 2.5vw, 1rem);
}

.link {
  color: $color-common-hover;
  display: contents;
  font-weight: normal !important;
}

.quote_container {
  flex-grow: 1;
  
  .quote_body {
    color: $color-common-hover;
    border-radius: $border-radius-container;
    border: 1px solid $color-common-hover;
    box-shadow: $box-shadow-button;
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    margin: 1rem 0rem;
    padding: 1rem;
    position: relative;
    width: 75%;
  }

  .quote_name {
    color: $color-common-hover;
    font-size: 1.1rem;
    font-weight: bold
  }

  .quote_svg {
    @include absolute-left-top-zindex-width-height(0%, 0%);
    transform: translate(-50%, -50%);
    color: $color-common-hover;
    fill: $color-common-hover;
    width: 1.75rem;
    height: 1.75rem;
  }

  .quote_start { left: 0%; top: 9%; }

  .quote_end { left: 100%; top: 100%; }
}