@use '@/scss/reusable' as *;

.content_viewer_container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  flex-grow: 1;

  .content_viewer_post_empty {
    color: $color-black-medium-soft;
    width: 100%;

    svg { width: $icon-medium; height: $icon-medium; }
  }

  .content_view_parse_error {
    border-radius: $border-radius-container;
    background-color: $color-error;
    width: 100%;
    padding: 0.75rem;
    color: white;
  }
}