@import '@/scss/mixin';
@import '@/scss/variabel';

.content_viewer_container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  flex-grow: 1;

  .content_viewer_post_empty {
    color: $color-black-medium-soft;
    width: 100%;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  .content_view_parse_error {
    border-radius: $border-radius-container;
    width: 100%;
    background-color: rgb(129, 0, 0);
    padding: 0.75rem;
    color: white;
  }
}