@use '../reusable.scss' as *;

* {
	font-family: inherit;
  font-optical-sizing: auto;
  font-style: normal;
	user-select: none;
	box-sizing: border-box;
	padding: 0rem;
	margin: 0rem;
	border: none;
	
	&:before, :after {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		border: none;
	}
}

body, html {
	height: 100%;
	width: 100%;
	background-color: white;
	scroll-behavior: smooth;
}

header, main, footer {
	width: 100%;
	background-color: white;
}

main {
  width: 100%;
	padding: 5rem 0rem 1rem 0rem;
}

a {
	text-decoration: none;
	display: block;
	color: black;
	
	&:visited, :hover { text-decoration: none; }
}

button {
	font: inherit;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: $font-medium;
	font-weight: normal;
}

button, input { outline: none; }

textarea:focus, input:focus { outline: none; }

ul { list-style: none; }