@import '@/scss/mixin';
@import '@/scss/variabel';

.pagintion_list_button {
  @include loader(0px);
  box-shadow: $box-shadow-container;
  width: 2.5rem;
  height: 2.5rem;
}

@include loader-animation();