@use '@/scss/reusable' as *;
@forward './media-query/galeryContent.media-query.scss';

.galery_information_container {
  border-bottom: $border-container-soft;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  > h4 {
    font-size: clamp($font-large, 2.5vw, $font-xx-large);
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .galery_action_button_container {
    .galery_action_button_active {
      background-color: $color-common !important;
      color: white !important;
    }
  
    .galery_action_button {
      color: $color-common;
      border-radius: $border-radiues-button;
      border: 1px solid $color-common;
      transition: all $transition-time-fast;
      background-color: white;
      padding: 0.5rem 2rem;
      flex-grow: 1;
      cursor: pointer;
  
      &:hover {
        background-color: $color-common-soft;
        color: $color-common;
        transition: all $transition-time-fast;
      }
    }
  }
}

.galery_content_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 0.5rem;
  width: 100%;

  .galery_content_body {
    position: relative;

    > img, video {
      width: 100%;
      height: 15rem;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .galery_edit_mode_action_container {
    @include absolute-left-top-zindex-width-height();

    svg {
      transition: all $transition-time-fast;
      color: white;
      opacity: 0.3;
      padding: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      
      &:hover {
        transition: all $transition-time-fast;
        opacity: 0.8;
      }
    }

    > svg:first-child { background-color: $color-common-hover; }

    > svg:last-child { background-color: $color-error; }
  }

  .galery_content_close {
    color: $color-common;
    border: 1px solid $color-common;
    height: 15rem;

    &:hover {
      color: $color-common-hover;
      border: 1px solid $color-common-hover;  
    }
  }
}