@use '@/scss/reusable' as *;

.insert_modal_container > * {
  align-items: flex-start;
  padding: 0rem;
  box-shadow: none;
  border: none;
}

.insert_modal_body {
  display: flex;
  flex-wrap: wrap;

  .insert_modal_input_container {
    flex-grow: 1;

    .insert_modal_file_input { width: 100% !important; }
  }
}

.insert_item_buttons_container {
  width: 100%;

  .insert_item_button {
    padding: 0.35rem;
    width: 2rem;
    height: 2rem;

    &:first-child { width: fit-content; font-size: 0.9rem; }
  }
}
