@import '@/scss/mixin';
@import '@/scss/variabel';

.insert_modal_container {
  @include absolute-left-top-zindex-width-height();
  background-color: $color-black-medium-soft;
  opacity: 1;
  visibility: visible;
  transition: all $transition-time-fast;
  z-index: 99;

  .insert_galery_modal_title {
    border-bottom: $border-container-soft;
    color: rgb(111, 111, 111);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    svg {
      width: 1.2rem;
      height: 1.2rem;
      cursor: pointer;

      &:hover { color: $color-error; }
    }
  }

  .insert_galery_form > * {
    padding: 0rem;
    border: none;
  }
}

.insert_modal_container_hidden {
  transition: all $transition-time-fast;
  opacity: 0;
  visibility: hidden;
}