@import '@/scss/mixin';
@import '@/scss/variabel';
@import './media-query/slideModal.media-query.scss';

.galery_current_galery_modal_container_hidden {
  transition: all $transition-time-fast;
  opacity: 0;
  visibility: hidden;
}

.galery_current_galery_modal_container {
  @include absolute-left-top-zindex-width-height(0%, 0%);
  position: fixed;
  background-color: $color-black-medium-soft;
  transition: all $transition-time-fast;
  z-index: 99;
  padding: 1rem 0rem;
  
  .galery_current_galery_modal_body {
    margin: 1rem;
    width: 100%;
    height: 100%;

    .galery_modal_title {
      border-bottom: $border-container-soft;
      color: rgb(111, 111, 111);
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;

      svg {
        width: 1.2rem;
        height: 1.2rem;
        cursor: pointer;

        &:hover { color: $color-error; }
      }
    }

    .galery_slides_container {
      position: relative;
      height: 100%;
      overflow: hidden;

      .galery_slide_buttons {
        @include absolute-left-top-zindex-width-height(0%, 50%);
        transform: translate(0%, -50%);
        position: fixed;
        width: 100%;
        z-index: 100;
        padding: 0rem 1rem;
        height: fit-content;

        > button {
          background-color: $color-common-soft;
          border-radius: $border-radiues-button;
          box-shadow: $box-shadow-button;
          transition: all $transition-time-very-fast;
          padding: 0.45rem 0.25rem;
          color: white;
          width: fit-content;
          height: fit-content;

          &:hover {
            box-shadow: $box-shadow-button-hover;
            transition: all $transition-time-very-fast;
            background-color: $color-common;
         }
        }
      }

      .galery_slides {
        @include absolute-left-top-zindex-width-height();
        left: 1000%;
        width: 100%;

        img, video {
          height: auto;
          max-height: 100%;
          max-width: 100%;
        }
      }

      .galery_slide_context_container {
        @include absolute-left-top-zindex-width-height(0%, 0%);
        justify-content: flex-end reverse;
        
        .galery_slide_context {
          border-radius: $border-radiues-button;
          color: $color-common;
          transition: all $transition-time-fast;
          visibility: hidden;
          opacity: 0;
          background-color: rgba(0, 0, 0, 1);
          height: fit-content;
          user-select: text;
          padding: 1rem 0.5rem;  

          &:hover {
            opacity: 1;
            visibility: visible;
          }
          
          &::before {
            @include absolute-left-top-zindex-width-height(3%, 5%, 1, 1rem, 2rem);
            content: "";
          }
        }

        .galery_slide_context_warn {
          background-color: $color-common;
          border-radius: $border-radiues-button;
          box-shadow: $box-shadow-button;
          transition: all $transition-time-fast;
          opacity: 0.5;
          flex-shrink: 0;
          color: white;
          width: fit-content;
          height: fit-content;
          padding: 0.45rem;
          cursor: pointer;

          &:hover {
            transition: all $transition-time-fast;
            opacity: 1;
          }
  
          &:hover + .galery_slide_context {
            transition: all $transition-time-fast;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .galery_current_slide { left: 0%; }
    }
  }
}