@import './reset/default';
@import './reset/input';

@import './mixin';

#root {
	@include flex-column-alignitems-justifycontent();
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-thumb {
	background: $color-common-soft;
	border-radius: 15px;
	cursor: pointer;

	&:hover {
		background: $color-common;
	}
}