@use '@/scss/reusable' as *;

.select_list_wrapper {
  border-radius: $border-radius-container;
  border: $border-container-soft;
  transition: all $transition-time-fast ease;
  padding: 0rem;
  width: 100%;

  &:hover {
  transition: all $transition-time-fast ease;
    border: 1px solid $color-common;
  }

  ul {
    border-bottom-left-radius: $border-radius-container;
    border-bottom-right-radius: $border-radius-container;
    overflow: hidden;
  }

  .select_list_title {
    border-bottom: $border-container-soft;
    font-weight: bold;
    width: 100%;
    padding: 0.75rem;
  }

  .select_list_item {
    transition: all $transition-time-fast ease;
    border-bottom: 1px solid $color-black-soft;
    border: 1px solid transparent;
    font-size: 0.9rem;
    padding: 0.5rem;
    cursor: pointer;

    &:last-child { border-bottom: 1px solid transparent; }

    &:hover {
      color: $color-common-hover;
      background-color: $color-common-hover-soft;
      transition: all $transition-time-fast ease;
    }
  }
  
  .select_list_item_selected {
    background-color: $color-common-hover-soft;
    color: $color-common-hover;
    transition: all $transition-time-fast ease;
  }
}